openai
pydantic
pydantic-core
anyio
httpx
jiter
sniffio
tqdm
typing-extensions
distro
httpcore
pyyaml
cachetools
duckduckgo-search
requests
schedule
beautifulsoup4
funasr
modelscope
huggingface_hub
omegaconf
hydra-core
bitarray
sentencepiece
editdistance-s
torch
torchvision
torchaudio
torch_complex
jaconv
jamo
jieba
kaldiio
oss2
pytorch-wpe
tensorboardX
umap-learn
librosa
soundfile
scikit-learn
numba
llvmlite
pooch
packaging
win32-setctime
num2words
spacy
silero-vad
flask
flask-cors
flask-socketio
pydub
pygame
loguru
kokoro
misaki
phonemizer-fork
espeakng-loader
python-dotenv
websockets
asyncio
aiohttp
pyttsx3
edge-tts
cryptography
aliyun-python-sdk-core
aliyun-python-sdk-kms
pycryptodome
pynndescent
docopt
blis
confection
cloudpathlib
catalogue
typer-slim
srsly
smart-open
preshed
weasel
thinc
wrapt
wasabi
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
